<section class="content error">
  <h1>{{local.error.label}}</h1>
  {{#if local.error.message}}
    <p>{{{local.error.message}}}</p>
  {{else}}
    <p>The document you requested doesn't exist.</p>
  {{/if}}
</section>
