<footer>
  <p class="copyright">
    Copyright © 2018 Jason Sylvester. All rights reserved. <a href="https://github.com/jaysylvester/jaysylvester.com" target="_blank" rel="noopener">Source available on GitHub</a>.
  </p>
</footer>
