<footer>
  <p class="quote">
    "In my day, we didn't have these fancy debuggers and linters and build tools and repos. We coded sites by hand in Notepad directly on production via FTP with no backups at 3 AM on a Thursday before the busiest shopping day of the year. That's the way it was, and we liked it!"
    <br>
    <span class="byline">&mdash; <a href="https://www.nbc.com/saturday-night-live/video/weekend-update-segment---dana-carvey-as-grumpy-old-man/n9948" target="_blank" rel="noopener">Grumpy Old Man</a></span>
  </p>
  <p class="copyright">
    Copyright © 2018 Jason Sylvester. All rights reserved. <a href="https://github.com/jaysylvester/jaysylvester.com" target="_blank" rel="noopener">Source available on GitHub</a>.
  </p>
</footer>
