<footer>
  <nav>
    <ul>
      <li class="about">
        <a href="/">About</a>
      </li>
      <li class="case-studies">
        <a href="/case-studies">Case Studies</a>
      </li>
      <li class="portfolio">
        <a href="/portfolio">Portfolio</a>
      </li>
      <li class="work-history">
        <a href="/work-history">Work History</a>
      </li>
      <li class="contact">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <p class="copyright">
    Copyright © 2021 Jason Sylvester. All rights reserved. <a href="https://github.com/jaysylvester/jaysylvester.com" target="_blank" rel="noopener">Source available on GitHub</a>.
  </p>
</footer>
