<section class="screens">
  {{#each screens}}
    <figure role="group" class="screens {{company}}">
      <section>
        {{#each this.screens}}
          <figure>
            <a class="new-tab" href="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50/jaysylvester.com/screens/{{this.url}}" target="_blank" title="Open this image in a new tab">
              <noscript>
                <img src="https://res.cloudinary.com/tehinnernets/image/upload/f_auto,q_50,w_500/jaysylvester.com/screens/{{this.url}}" alt="{{this.alt}}">
              </noscript>
              <img src="/images/placeholder-screen.svg" data-src="https://res.cloudinary.com/tehinnernets/image/upload/[parameters]/jaysylvester.com/screens/{{this.url}}" alt="{{this.alt}}">
            </a>
          </figure>
        {{/each}}
      </section>
      <figcaption>{{{this.category}}}</figcaption>
    </figure>
  {{/each}}
</section>
