
# citizen
logs/*

# Mac
.DS_Store

# node/npm
node_modules
npm-debug.log
.sass-cache

# Docker development environment
.env
docker/dev-certs/*

# VS Code
.vscode
settings.json

# Playwright
.playwright-mcp
