<section class="intro">
  <h1>I'm Jay Sylvester,<br> a UX designer and engineer.</h1>
  <p>I make web sites and apps easier to use through careful research, inspired design, cross-functional collaboration, and thoughtful leadership.</p>
  <nav>
    <a href="/contact" class="primary-action">Contact me</a>
  </nav>
</section>
<section class="case-studies">
  <h1>I lead talented teams who do great work.</h1>
  {{{include.screens}}}
  <nav>
    <a href="/case-studies" class="primary-action">Read my case studies</a>
  </nav>
</section>
<section class="endorsements">
  <h1>Colleagues say nice things about me.</h1>
  <blockquote>
    <p>
      Not only were his personal designs fantastic, Jay built an amazing team at Znode and introduced new ways of working which impressed me with their flexibity, speed and quality of output. He established himself as a leader in design, technology and development ops and made a huge contribution to every project he was involved in as well as the overall culture.
    </p>
  </blockquote>
  <blockquote>
    <p>
      Many of the best ideas we've had for improving our sites at Abercrombie &amp; Fitch started during conversations with Jay. It's been refreshing to work with a developer who gives so much consideration to Usability, Accessibility, and Design - and is interested in discussing and collaborating. He is not satisfied with just getting by and pushes for genuine quality and improvement.
    </p>
  </blockquote>
  <blockquote>
    <p>
      Jay is one of the best managers I’ve worked with in my career. Jay is an exceptional leader, inclusive and involved in the process, without micromanaging. He trusts in his team, and is receptive to feedback. Working on Jay’s team, I felt energized with what we were creating, and that I was delivering my best. 
    </p>
  </blockquote>
  <blockquote>
    <p>
      I've never seen a manager quite like him. He has a unique and effective leadership and management style that gives developers freedom and flexibility to do their work at the same time providing excellent guidance and establishing clear standards to help the team deliver highest quality work.
    </p>
  </blockquote>
  <blockquote>
    <p>
      I've been working on the web for a long time, and to be able to work with someone that pushed me to learn more for all the right reasons was a breath of fresh air. Jay would be an asset to any frontend team and I can only hope our paths cross again.
    </p>
  </blockquote>
  <blockquote>
    <p>
      Jay and I worked very closely together on a number of high-visibility projects. His professionalism and acuity for user-oriented design and development, combined with his sense of humor, helped us deliver projects on time that exceeded the expectations of management and client alike.
    </p>
  </blockquote>
  <nav>
    <a href="https://www.linkedin.com/in/jaysylvester" target="_blank" rel="noopener" class="primary-action">More testimonials on LinkedIn</a>
  </nav>
</section>
