<h1>About Me</h1>
<section class="content">
  <h2>I'm Jay Sylvester, a product designer and software engineer.</h2>
  <p>
    I make complex products easy to use through careful research, inspired design, cross-functional collaboration, and supportive leadership.
  </p>
  <p>
    I have over 20 years of industry experience, much of it as a player-coach who enjoys managing and mentoring designers and developers. I’ve held multiple principal designer roles and have been the first design hire at several SaaS startups.
  </p>
  <p>
    Having elevated and transformed cloud hosting, video conferencing, marketing analytics, and e-commerce products, the breadth and depth of my experience give me an intimate understanding of the complete product lifecycle.
  </p>
</section>
<section class="endorsements">
  <section class="quotes">
    <blockquote>
      <p>
        Not only were his personal designs fantastic, Jay built an amazing team and introduced new ways of working which impressed me with their flexibility, speed and quality of output. He established himself as a leader in design, technology and development ops and made a huge contribution to every project he was involved in as well as the overall culture.
      </p>
    </blockquote>
    <blockquote>
      <p>
        Jay is one of the best managers I’ve worked with in my career. Jay is an exceptional leader, inclusive and involved in the process, without micromanaging. He trusts in his team, and is receptive to feedback. Working on Jay’s team, I felt energized with what we were creating, and that I was delivering my best. 
      </p>
    </blockquote>
    <blockquote>
      <p>
        I've been working on the web for a long time, and to be able to work with someone that pushed me to learn more for all the right reasons was a breath of fresh air. Jay would be an asset to any frontend team and I can only hope our paths cross again.
      </p>
    </blockquote>
    <blockquote>
      <p>
        Many of the best ideas we've had for improving our sites started during conversations with Jay. He is not satisfied with just getting by and pushes for genuine quality and improvement.
      </p>
    </blockquote>
  </section>
  <nav>
    <a href="https://www.linkedin.com/in/jaysylvester" target="_blank" rel="noopener" class="primary-action">More testimonials on LinkedIn</a>
  </nav>
</section>
