<header>
  <h1>Jay Sylvester</h1>
  <nav class="content">
    <ul>
      <li class="home">
        <a href="/">Home</a>
      </li>
      <li class="work-history">
        <a href="/work-history">Work History</a>
      </li>
      <li class="portfolio">
        <a href="/portfolio">Portfolio</a>
      </li>
      <li class="case-studies">
        <a href="/case-studies">Case Studies</a>
      </li>
    </ul>
  </nav>
  <nav class="contact">
    <ul>
      <li class="email">
        <a href="/contact">E-mail</a>
      </li>
      <li class="linkedin">
        <a href="https://linkedin.com/in/jaysylvester">LinkedIn</a>
      </li>
    </ul>
  </nav>
</header>