<section class="intro">
  <h1>I've solved design and engineering challenges for organizations of all sizes.</h1>
  <p>
    My experience with both UX design and front end development gives me a thorough understanding of the hurdles in a modern design and development workflow.
  </p>
</section>
{{#each caseStudies}}
  {{> caseStudyCallout this}}
{{/each}}
