<h1>I've solved design and architectural<br> challenges for organizations of all sizes.</h1>
<p>
  My experience with both UX design and front end development gives me a thorough understanding of the challenges in a modern design and development workflow. Performance is part of user experience, and I bring that perspective to all my designs.
</p>
{{#each caseStudies}}
  {{> caseStudyCallout this}}
{{/each}}
