<h1>Case Studies</h1>
<section class="content">
  <h2>I thrive on intricate problems with no immediate or obvious solution.</h2>
  <p>
    I've tackled a number of challenging products across various industries, and whether I'm designing a product myself or guiding a team through the UX process, arriving at that "a-ha" moment and delivering something special is always satisfying.
  </p>
</section>
{{#each caseStudies}}
  {{> caseStudyCallout this}}
{{/each}}
