<h1>Case Studies</h1>
<section class="content">
  <h2>I've solved design and engineering challenges for organizations of all sizes.</h2>
  <p>
    My experience with both UX design and full-stack development gives me a thorough understanding of the hurdles in a modern product workflow.
  </p>
</section>
{{#each caseStudies}}
  {{> caseStudyCallout this}}
{{/each}}
