<h1>A UX design manager's portfolio<br> shouldn't be a bunch of pretty screens.</h1>
<p>You should see their team's process documentation, research data, ugly sketches, boring wireframes, and half-baked prototypes that informed all the resulting pretty screens.</p>
<section class="documents">
  <h2>Process diagrams, sitemaps, wireframes, audits, usability studies, recommendations...</h2>
  <p>I've heard that variety is the spice of life. I created some of these documents, some were a team effort, and some were produced under my direction; please ask if you have questions.</p>
  <ul>
    <li><a href="/documents/portfolio/UX-Process-Definition-v1-5.pdf">Vidyo UX Process Flowchart</a></li>
    <li><a href="/documents/portfolio/Vidyo-Neo-Usability-Studies.mp4">Vidyo Neo Usability Studies (MP4, ~40 MB)</a></li>
    <li><a href="/documents/portfolio/Vidyo-Neo-UX-Enhancements.pdf">Vidyo Neo UX Enhancements</a></li>
    <li><a href="/documents/portfolio/Vidyo-Neo-Keyboard-Shortcuts.pdf">Vidyo Neo Keyboard Shortcuts</a></li>
    <li><a href="/documents/portfolio/VidyoConnect-Affinity-Map.pdf">VidyoConnect Affinity Map</a></li>
    <li><a href="/documents/portfolio/VidyoConnect-User-Flows.pdf">VidyoConnect User Flows</a></li>
    <li><a href="/documents/portfolio/Senior-UX-Designer.pdf">Senior UX Designer Job Description</a></li>
  </ul>
  <ul>
    <li><a href="/documents/portfolio/Fitly-IA-UX-Specification-MVP.pdf">Fitly IA/UX Specification</a></li>
    <li><a href="/documents/portfolio/Grange-UX-Audit-V1-1.pdf">Grange Insurance UX Audit</a></li>
    <li><a href="/documents/portfolio/Columbus-Dispatch-Responsive-Design-Strategy.pdf">Columbus Dispatch Redesign Strategy</a></li>
    <li><a href="/documents/portfolio/Libbey-L-Sitemap-v6.pdf">Libbey Glass Intranet Sitemap</a></li>
    <li><a href="/documents/portfolio/Libbey-L-Wireframes.pdf">Libbey Glass Wireframes</a></li>
    <li><a href="/documents/portfolio/hibu-Marketplace-Whiteboard-Sketch.pdf">hibu Marketplace Whiteboard Sketch</a></li>
    <li><a href="/documents/portfolio/Fiserv-Client-Config-Wireframes.pdf">Fiserv FirstPoynt Client Wireframes</a></li>
  </ul>
</section>
<section class="all-screens">
  <h2>Still want screens? Okay, fine.</h2>
  <p>Again, some of these are all me, some were started by me, some finished by me, and some are team output. <a href="/case-studies">Read my case studies</a> for details on my contributions. Much more available upon request.</p>
</section>
{{{include.screens}}}
