<section class="intro">
  <h1>UX isn't the end result, but the journey there.</h1>
  <p>Final screens are nice and all, but the core of UX is the process documentation, research data, ugly sketches, boring wireframes, and half-baked prototypes that got you there.</p>
</section>
<section class="content documents">
  <h2>Process diagrams, audits &amp; recommendations, sitemaps, wireframes, usability studies...</h2>
  <p><a href="/contact">Please ask</a> if you have questions. I'm happy to go into detail on any project.</p>
  <ul>
    <li><a href="/documents/portfolio/Shop-LC-UX-Evaluation.pdf">Shop LC UX Evaluation</a></li>
    <li><a href="https://github.com/jaysylvester/jaysylvester.com/tree/main/web/shoplc" target="_blank" rel="nofollow">Shop LC Front End Code Demo</a></li>
    <li><a href="/documents/portfolio/Fitly-IA-UX-Specification-MVP.pdf">Fitly IA/UX Specification</a></li>
    <li><a href="/documents/portfolio/Libbey-L-Sitemap-v6.pdf">Libbey Glass Intranet Sitemap</a></li>
    <li><a href="/documents/portfolio/Libbey-L-Wireframes.pdf">Libbey Glass Wireframes</a></li>
    <li><a href="/documents/portfolio/Columbus-Dispatch-Responsive-Design-Strategy.pdf">Columbus Dispatch Redesign Strategy</a></li>
    <li><a href="/documents/portfolio/hibu-Marketplace-Whiteboard-Sketch.pdf">hibu Marketplace Whiteboard Sketch</a></li>
    <li><a href="/documents/portfolio/UX-Process-Definition-v1-5.pdf">Vidyo UX Process Flowchart</a></li>
    <li><a href="/documents/portfolio/Vidyo-Neo-Usability-Studies.mp4">Vidyo Neo Usability Study Recordings</a></li>
    <li><a href="/documents/portfolio/VidyoConnect-Affinity-Map.pdf">VidyoConnect Affinity Map Exercise</a></li>
    <li><a href="/documents/portfolio/Fiserv-Client-Config-Wireframes.pdf">Fiserv FirstPoynt Client Wireframes</a></li>
    <li><a href="/documents/portfolio/Senior-UX-Designer.pdf">Senior UX Designer Job Description</a></li>
  </ul>
</section>
<section class="content all-screens">
  <h2>Still want screens? Okay, fine.</h2>
  <p>Some of these are entirely my work, some were started by me, some were finished by me, and some were produced under my supervision. <a href="/case-studies">Check out my case studies</a> for details on my contributions.</p>
</section>
{{{include.screens}}}
