// Footer

body > footer {
  padding: 2rem 0;
  text-align: center;
  // Extra bottom padding for iPhone swipe-up indicator
  @media (hover: none) {
    padding-bottom: 4rem;
  }

  nav {
    margin: 2rem auto 4rem;
    font-family: var(--font-primary);

    a.top {
      margin-bottom: 4.8rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      margin: 0 0.6rem 1.2rem;
    }

    a {
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  
  p {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: hsl(0,0%,40%);
  }

  @media only screen and (min-width: 768px) {
    font-size: 1.6rem;

    nav {
      width: 66rem;
      margin: 1rem auto 3rem;

      ul {
        justify-content: space-around;
        margin: auto;
  
        li {
          margin: 0;
        }
      }
    }

  }

  @media only screen and (min-width: 1024px) {
    position: absolute;
    bottom: 8.4rem;
    z-index: 501;
    width: 25%;
    padding: 0 4rem;

    nav {
      display: none;
    }

    p {
      text-align: right;
    }
  }

  @media only screen and (min-width: 1440px) {
    width: 28.8rem;
  }
}
