@import '_mixins';

body > footer {
  padding: 2rem;
  // Extra bottom padding for iPhone swipe-up indicator
  @media (hover: none) {
    padding-bottom: 4rem;
  }
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  background: hsl(175,18%,51%);
  
  p.copyright {
    margin: 0;
    font-size: 1.4rem;

    a {
      color: white;
    }
  }

  @media only screen and (min-width: 1024px) {
    margin-top: 8rem;
  }
}
