// Header

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 500;

  > a {
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 1;
    color: var(--color-links);
    text-decoration: none;

      span {
        display: block;
    
        &.j {
          padding-bottom: 0.8rem;
        }
        &.s {
          padding-top: 0.8rem;
        }
      }
  }

  nav {
    margin-top: 1.2rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    li {
      margin: 0.8rem 0.4rem;

      a {
        display: block;
        position: relative;
        padding: 0.6rem 1.2rem 1.2rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

header nav li a:hover,
body[data-controller="index"] header nav li.about a,
body[data-controller="case-study"] header nav li.case-studies a,
body[data-controller="case-studies"] header nav li.case-studies a,
body[data-controller="portfolio"] header nav li.portfolio a,
body[data-controller="resume"] header nav li.resume a,
body[data-controller="contact"] header nav li.contact a {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2.4rem);
    height: 0.4rem;
    background: var(--color-primary);
  }
}

@media only screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    padding: 0;
    font-size: 1.6rem;

    a {
      padding: 2.4rem 3.6rem;
    }

    nav {
      margin: 2.4rem 2.4rem 0 0;

      ul {
        flex-direction: row;

        li {
          margin: 0;

          a {
            padding: 2rem 1.6rem;
          }
        }
      }
    }
  }

  header nav li a:hover,
  body[data-controller="index"] header nav li.about a,
  body[data-controller="case-study"] header nav li.case-studies a,
  body[data-controller="case-studies"] header nav li.case-studies a,
  body[data-controller="portfolio"] header nav li.portfolio a,
  body[data-controller="resume"] header nav li.resume a,
  body[data-controller="contact"] header nav li.contact a {
    &:after {
      width: calc(100% - 3.2rem);
    }
  }

  html.js {
    header {
      position: fixed;
      top: 0;
      z-index: 500;
      backdrop-filter: blur(1rem);
      transition: top 0.5s;
      background: hsla(0,0%,100%,0.65);
    }
    
    body.hidden-header header {
      top: -11rem; // Header height
    }
  }
}


@media only screen and (min-width: 1024px) {
  header, html.js header {
    position: relative;
    flex: 0 0 25%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2.6rem 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 14rem;
      width: 0.1rem;
      height: calc(100% - 20rem);
      background: #efefef;
    }

    nav {
      ul {
        flex-direction: column;

        li {
          margin-bottom: 1.2rem;

          a:after {
            bottom: 0.4rem !important;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 1440px) {
  header, html.js header {
    flex-basis: 28.8rem;
  }
}
