// Screenshots

section.screens {
  width: 100vw;
  margin-left: -2.6rem;

  // Override default height caused by alt attributes in unloaded images
  // Coincides with JAY.global.imageLoad() in global.js
  img[data-src]:not(.loaded) {
    height: 0;
  }

  figure[role="group"] {
    margin: 2rem auto 6rem;
    
    section {
      display: flex;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding: 0 2.6rem 2rem; // Maintain bottom padding for scrollbar visibility
    }

    figure {
      flex: 0 0 84%;
      margin-right: 8%;
      border-radius: 0.6rem;
      box-shadow: 0px 2px 4px hsla(0,0%,60%,0.5);
      overflow: hidden;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
      }
    }

    figcaption {
      margin-bottom: 1.6rem;
      margin-left: 2.6rem;
    }
  }

  @media only screen and (min-width: 768px) {
    figure[role="group"] {
      padding: 0;

      figure {
        flex-basis: 28rem;
        margin-right: 4rem;
      }

      figcaption {
        margin-left: 4.8rem;
        text-align: left;
      }

      section {
        padding-right: 4.8rem;
        padding-left: 4.8rem;

        &::after {
          flex-basis: 4.8rem;
        }
      }
    }
  }

  // Get rid of figure scroll at 1024px and above
  @media only screen and (min-width: 1024px) {
    figure[role="group"] {
      figcaption {
        margin-left: 0;
      }

      section {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
        overflow: visible;
        padding: 0;

        &::after {
          display: none;
        }
      }

      figure {
        flex-basis: 23.5%;
        margin: 0 0 2%;
      }
    }
  }
}

// Figures
figure.callout {
  display: flex;
  flex-direction: column;
  margin: 4.8rem auto;

  img {
    max-width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0px 2px 4px hsla(0,0%,60%,0.5);
  }
}

figcaption {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.4;
}

figure.device img {
  border-radius: none;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  section.screens {
    margin-left: -4.8rem;
  }

  figure.callout {
    img {
      max-height: 44.8rem;
    }
  }

  figcaption {
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  section.screens {
    width: 99.6%;
    padding: 0 0.2%; // Keep drop shadows on screens visible
    margin: 0;
  }

  figure.callout {
    margin: 6.4rem 0.6rem; // Side margins for drop shadow visibility
  }
}

@media only screen and (min-width: 1280px) {
  figure.callout {
    &:not([role="group"]) {
      img {
        width: auto;
      }
    }
  }
}

// Zoom nav
#screen-nav {
  margin: 1rem 0 4rem;
  color: #efefef;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    margin: 1rem;
  }

  a {
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
    padding-left: 3rem;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 2rem;
      height: 2rem;
      border: 0.2rem solid #efefef;
      border-radius: 50%;
    }
    
    &:hover:before {
      background: #de2121;
    }
  }

  li.selected a {
    &:before {
      background: #efefef;
    }
  }
}
