// Case study

body[data-controller="case-study"] {
  main {
    h1 {
      span {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2;
      }
    }
  }

  p.summary {
    margin: 2.4rem 2.6rem 5.6rem;
    font-family: var(--font-primary);
    background: hsl(0 0% 99% / 1);
    border: 1px solid hsl(0 0% 96% / 1);
    border-radius: 1.6rem;
    padding: 2.4rem 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    color: hsl(0,0%,30%);
  }

  section.screens {
    figure[role="group"] {
      margin-bottom: 0;

      &:only-child figcaption {
        display: none;
      }
    }
  }

  figure.callout {
    // Override default width or height caused by alt attributes in unloaded images
    // Coincides with JAY.global.imageLoad() in global.js
    // Explicit width/height in the markup would be best though
    img[data-src]:not(.loaded) {
      @media only screen and (max-width: 767px) {
        height: 34rem;
      }
      @media only screen and (min-width: 768px) {
        height: 44.8rem;
      }
    }
  }

  figure[role="group"].callout {
    figure {
      margin-top: 1.6rem;
    }
  }

  section.hibu {
    figure.callout.concept,
    figure.callout.prototype {
      section {
        display: flex;
        justify-content: space-between;

        figure {
          margin: 0;
        }
        figure:nth-child(1) {
          flex: 0 0 35%;
        }
        figure:nth-child(2) {
          flex: 0 0 60%;
        }
      }
    }
  }

  section.Fitly {
    figure.callout.pricing-cta {
      figure {
        margin: 0 auto 2rem;
      }
    }
  }

  // No borders around mobile screens
  section.screens figure[role="group"].Vidyo {
    &:nth-child(4) {
      figure {
        border-radius: none;
        box-shadow: none;
      }
    }
  }

  section.screens.group {
    margin-bottom: 4rem;
    padding-top: 2rem;
    background: hsl(175,55%,76%);
    
    figure[role="group"] figure {
      border: 0.1rem solid hsl(175,55%,66%);
    }
  }

  @media only screen and (min-width: 768px) {
    p.summary {
      margin-right: 4.8rem;
      margin-left: 4.8rem;
    }

    figure[role="group"]:not(.screens) {
      section {
        display: flex;
        justify-content: space-between;
      }

      // Fitly
      &.pricing-cta {
        section {
          flex-direction: column;
        }
      }
    }

    figure[role="group"].callout {
      figure {
        display: flex;
        flex: 0 0 49%;
        margin: 0;
      }

      &.usability-testing {
        figure {
          flex: 0 0 32%;
        }
      }
    }

    figure.callout {
      // Fitly
      &.zip-code {
        img {
          height: 30rem;
          width: auto;
          margin: auto;
        }
      }

      &.kitchen-view {
        img {
          height: 48rem;
          width: auto;
          margin: auto;
        }
      }

      &.pricing-cta {
        figure {
          margin-bottom: 2rem;
        }

        img {
          height: 24rem;
          width: auto;
          margin: auto;
        }
      }
    }

    section.hibu {
      figure.callout.concept,
      figure.callout.prototype {
        section {
          justify-content: center;

          figure {
            margin: 0 1rem;
          }

          figure:nth-child(1) {
            flex-basis: 40%;
            justify-content: flex-end;
          }
        }
      }
    }

    main nav {
      display: flex;
      justify-content: center;
      max-width: 32rem;
      margin: 6.4rem auto;
    }
  }

  @media only screen and (min-width: 1024px) {
    section.about {
      margin-bottom: 6rem;
    }

    p.summary {
      margin-right: 5.6rem;
      margin-left: 5.6rem;
    }

    section.screens.group {
      padding-top: 2rem;
    }
  }

  @media only screen and (min-width: 1280px) {
    section.screens.group {
      padding: 0;

      figure[role="group"] {
        section {
          padding: 3rem;
        }
        figure {
          flex-basis: 28rem;
          margin: 0 3rem 0 0;
        }
      }
    }
  }
}
