// Case studies
@import '_mixins';

// Common styles
.case-study {
  section.logo {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  img.logo {
    max-width: 28rem;
    max-height: 4rem;
    margin: auto;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Lato Bold', sans-serif;
    color: #4D4D4D;
    letter-spacing: 0.12rem;
    text-align: center;

    span {
      display: block;
      margin-bottom: 0.5rem;
      font-family: 'Lato Light', sans-serif;
      text-transform: uppercase;
    }
  }

  ul.attributes {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    list-style-type: none;
    font-size: 1.4rem;
    color: #808080;
    letter-spacing: 0.12rem;
    text-align: center;
    text-transform: uppercase;

    li {
      padding: 0.2rem 0;
    }
  }

  p.tagline {
    max-width: 34rem;
    margin: 1rem auto;
    padding: 2rem 1rem 0;
    font-family: 'Lato Bold Italic', sans-serif;
    font-size: 2rem;
    color: #4D4D4D;
    text-align: center;

    @include separator;
  }

  p.summary {
    margin-bottom: 3rem;
    line-height: 1.6;
    text-align: center;
  }

  section.devices {
    margin: 0;

    img {
      width: 100%;
    }
  }

  &.Vidyo,
  &.Fitly,
  &.hibu {
    section.devices img {
      width: 142%;
      margin-left: -21%;
    }
  }

  figure.screens figure {
    background: #f7f7f7;
  }

  > nav.actions {
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 768px) {
    img.logo {
      max-width: 45rem;
      max-height: 6rem;
    }

    h1 {
      font-size: 2.4rem;
    }
    
    ul.attributes {
      margin: 2rem 0 4rem;
    }

    p.tagline {
      max-width: 50rem;
      margin-bottom: 2rem;
      padding-top: 4rem;
      font-size: 2.6rem;
    }

    p.summary {
      max-width: 64rem;
      margin: 0 auto 4rem;
    }

    section.devices img {
      width: auto;
      height: 27.5rem;
      margin: auto;
    }

    &.Fitly, &.hibu, &.Vidyo {
      section.devices img {
        width: auto;
        margin: 0 auto;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    h1 {
      span {
        display: initial;
      }
    }

    ul.attributes {
      flex-direction: row;
      justify-content: center;
      margin-top: 0.2rem;

      li {
        &::before {
          content: '•';
          display: inline-block;
          padding: 0 0.6rem 0 1rem;
          color: #cccccc;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }
      }
    }

    p.tagline {
      max-width: none;
    }

    section.devices img {
      height: 35rem;
    }
  }
}

// Case studies list
body[data-controller="case-studies"][data-view="case-studies"] {
  .case-study {
    margin: 4rem 0;
    padding-top: 4rem;

    @include separator;
    
    h1,
    p.tagline,
    p.summary,
    nav.actions li.more {
      display: none;
    }

    ul.attributes {
      margin-top: 1rem;
    }

    section.devices {
      margin-bottom: 2rem;
    }

    @media only screen and (min-width: 768px) {
      margin: 6rem 0;
      padding-top: 6rem;

      img.logo {
        max-width: 30rem;
      }

      &.hibu img.logo {
        max-height: 5rem;
      }

      &.OncoTracker img.logo {
        max-height: 4rem;
      }

      ul.attributes {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      p.summary {
        display: block;
      }

      section.devices {
        margin-bottom: 4rem;

        img {
          height: 20rem;
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      p.summary {
        max-width: 74rem;
        font-size: 2rem;
      }
    }
  }
}

// Standalone case study
body[data-controller="case-study"][data-view="case-study"] {
  .case-study {
    section.logo {
      height: 12rem;
    }

    section.devices {
      margin-bottom: 2rem;
    }

    section.screens {
      margin: 0;
    }

    figure {
      margin: 4rem auto;

      &.callout {
        padding: 0.4rem;
      }

      // Fitly
      &.pricing-cta {
        figure:nth-child(1) {
          margin-bottom: 1rem;
        }
        figure:nth-child(2) {
          margin: 0 auto 2rem;
        }
      }

      img {
        width: 100%;
        border-radius: 0.4rem;
        box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.30);
      }

      // Screenshots
      &.screens {
        section {
          display: flex;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
          padding: 1rem;
  
          &::after {
            content: '';
            flex: 0 0 1rem;
            display: block;
            height: 1rem;
          }
        }
  
        figure {
          flex: 0 0 82vw;
          height: 50vw;
          margin: 0 2rem 0 0;
          border-radius: 0.4rem;
          box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.30);
          overflow: hidden;
          position: relative;
  
          img {
            border-radius: 0;
            box-shadow: none;
          }
        }

        a.new-tab {
          position: initial;
          height: 100%;
        }
  
        figcaption {
          margin-top: 0;
        }
      }
    }

    figcaption {
      margin-top: 1rem;
      font-family: 'Lato Italic', sans-serif;
      line-height: 1.4;
      text-align: center;
    }

    figure.device,
    figure.device figure,
    figure.device img {
      border-radius: 0;
      box-shadow: none;
    }

    > nav.actions {
      margin: 8rem auto 4rem;
    }
  
    &.Fitly img.logo {
      max-height: 6rem;
    }
  
    &.Vidyo {
      figure.screens:nth-child(2) figure,
      figure.screens:nth-child(3) figure {
        height: 100%;
      }
      figure.screens:nth-child(4) figure {
        height: auto;
        border-radius: 0;
        box-shadow: none;
      }
    }

    // 768px and up
    @media only screen and (min-width: 768px) {
      section.logo {
        height: 18rem;
      }

      section.devices {
        margin-bottom: 4rem;
      }

      section.content {
        max-width: 82rem;
        margin: auto;
        padding: 0 2rem;
      }

      figure {
        margin: 6rem auto;

        &.callout {
          // Fitly
          &.zip-code {
            img {
              height: 30rem;
            }
          }

          &.pricing-cta {
            figure {
              margin-bottom: 2rem;
            }

            img {
              height: 30rem;
            }
          }

          img {
            width: auto;
            height: 40rem;
            margin: auto;
          }
        }

        &.screens {
          section {
            padding: 2rem;

            &::after {
              flex-basis: 2rem;
            }
          }

          figure {
            flex-basis: 45rem;
            height: 28rem;
          }
        }
      }

      figcaption {
        max-width: 45rem;
        margin: 2rem auto 0;
      }

      &.OncoTracker img.logo {
        max-height: 4rem;
      }
    }

    // Get rid of figure scroll at 840px and above (width of main with padding)
    @media only screen and (min-width: 840px) {
      figure.screens {
        width: 100%;
        margin-left: 0;

        section {
          flex-wrap: wrap;
          justify-content: center;
          padding: 0;
          overflow: visible;

          &::after {
            display: none;
          }
        }

        figure {
          flex-basis: 23%;
          height: 14rem;
          margin: 0 2rem 2rem 0;

          &:first-child,
          &:nth-child(5) {
            margin-left: 0;
          }

          &:nth-child(4),
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    // 1024px and up
    @media only screen and (min-width: 1024px) {
      p.summary {
        max-width: none;
        margin-bottom: 8rem;
        font-size: 2.2rem;
      }

      section.devices {
        margin-bottom: 6rem;
      }

      section.content {
        font-size: 2rem;
      }

      figcaption {
        max-width: none;
        font-size: 1.8rem;
      }
    }
  }
}


// Case study clickable logos (used everywhere)
ul.case-studies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  li {
    flex: 0 0 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    margin-bottom: 2rem;
    background-image: radial-gradient(40% 40%,#ffffff 0,#ffffff 60%,#f5f5f5 100%);
    border: 0.1rem solid #e6e6e6;
    border-radius: 0.8rem;
    transition: border-color 0.2s;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  img {
    max-width: 25rem;
    max-height: 6rem;
    filter: saturate(0%) brightness(100%) contrast(50%);
    transition: filter 0.2s;
  }

  li.Fitly, li.hibu, li.Abercrombie-and-Fitch {
    img {
      filter: saturate(0%) brightness(150%) contrast(40%);
    }
  }

  li:hover {
    border-color: #b3b3b3;

    img {
      filter: saturate(100%) brightness(100%) contrast(100%);
    }
  }

  @media only screen and (min-width: 720px) {
    li {
      margin-right: 2rem;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @media only screen and (min-width: 960px) {
    li {
      &:nth-child(2n) {
        margin-right: 2rem;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}