// Case study

body[data-controller="case-study"] {
  main h1 {
    span.title {
      display: block;
      margin-top: 1rem;
      font-weight: 600;
      line-height: 1.2;
    }
  }

  ul.attributes {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 2rem 0 0;
    font-family: Avenir Next, Libre Franklin, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: hsl(176,33%,30%);
    text-align: center;
    line-height: 1.4;

    li {
      padding: 0.2rem 0;
    }
  }

  h2.tagline {
    padding: 0 2rem;
    font-size: 2.4rem;
    color: hsl(0,0%,20%);
    text-align: center;
  }

  p.summary {
    margin: 3rem 2rem;
    text-align: center;
  }

  section.devices {
    margin-bottom: 2rem;
    overflow-x: hidden;

    img {
      width: 100%;
    }
  }

  section.logo {
    display: flex;
    justify-content: center;
    height: 5rem;
    margin: 6rem auto 4rem;

    img {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  section.screens figure[role="group"]:only-child figcaption {
    display: none;
  }

  section.Linode,
  section.Vidyo,
  section.Fitly,
  section.hibu {
    section.devices img {
      width: 142%;
      margin-left: -21%;
    }
  }

  section.Linode {
    figure[role="group"].callout {
      figure {
        margin-bottom: 1rem;
      }
    }
  }

  section.hibu {
    figure.callout.concept,
    figure.callout.prototype {
      section {
        display: flex;
        justify-content: space-between;

        figure:nth-child(1) {
          flex: 0 0 35.3%;
          margin: 0;
        }
        figure:nth-child(2) {
          flex: 0 0 60%;
          margin: 0;
        }
      }
    }
  }

  section.Fitly {
    figure.callout.pricing-cta {
      figure:nth-child(1) {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      figure:nth-child(2) {
        margin: 0 auto 2rem;
      }
    }
  }

  // No borders around mobile screens
  section.Vidyo {
    section.screens figure[role="group"] {
      &:nth-child(4) {
        figure {
          border: none;
        }
      }
    }
  }

  section.screens.group {
    padding-top: 2rem;
    background: hsl(175,55%,76%);
    
    figure[role="group"] figure {
      border: 0.1rem solid hsl(175,55%,66%);
    }
  }

  @media only screen and (min-width: 768px) {
    main h1 span.title {
      display: initial;
    }

    ul.attributes {
      text-align: left;
      margin-top: 0.8rem;

      li {
        display: flex;
        
        &:before {
          content: '•';
          display: block;
          padding: 0.6rem 1rem 0 0;
          color: hsl(175,55%,76%);
        }
      }
    }

    section.logo {
      height: 5.6rem;

      img {
        max-width: 50%;
      }
    }

    h2.tagline {
      padding: 0;
      max-width: 50rem;
      margin: auto;
    }

    p.summary {
      max-width: 64rem;
      margin: 3rem auto 6rem;
      font-size: 2rem;
    }

    section.devices {
      width: auto;
      margin-bottom: 4rem;
      margin-left: 0;
      padding: 0 4rem;
    }

    section.Linode,
    section.Vidyo,
    section.hibu,
    section.Fitly {
      section.devices img {
        margin: 0 !important;
        width: 100% !important;
      }
    }

    section.Abercrombie-and-Fitch,
    section.OncoTracker {
      section.devices {
        display: flex;
        justify-content: center;

        img {
          width: auto;
          height: 27rem;
        }
      }
    }

    section.Linode {
      figure[role="group"]:not(.screens) {
        section {
          display: flex;
          justify-content: space-between;

          figure {
            img {
              height: 24rem;
            }
          }
        }

        &.usability-testing {
          img {
            height: 12.6rem;
          }
        }
      }

      figure[role="group"].callout {
        figure {
          margin-bottom: 0;
        }
      }
    }

    figure.callout {
      // Fitly
      &.zip-code {
        img {
          height: 30rem;
        }
      }

      &.kitchen-view {
        img {
          height: 48rem;
        }
      }

      &.pricing-cta {
        figure {
          margin-bottom: 2rem;
        }

        img {
          height: 24rem;
        }
      }
    }

    section.hibu {
      figure.callout.concept,
      figure.callout.prototype {
        section {
          justify-content: center;

          figure:nth-child(1),
          figure:nth-child(2) {
            flex-basis: auto;
            margin: 0 1rem;
          }
        }
      }
    }

    main nav {
      position: initial;
      justify-content: center;
      margin: 6rem 0;
    }
  }

  @media only screen and (min-width: 840px) {
    section.screens.group {
      padding-bottom: 2rem;

      figure[role="group"] {
        figure {
          margin-bottom: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    section.case-study {
      max-width: none;
    }

    section.intro {
      max-width: 128rem;
      margin: auto;
    }

    section.screens.group {
      padding-top: 2rem;
    }

    section.Linode {
      figure[role="group"]:not(.screens) {
        section {
          figure {
            img {
              height: 28rem;
            }
          }
        }

        &.usability-testing {
          img {
            height: 14.6rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    section.intro {
      padding: 0 4rem;
      background: none;
    }

    ul.attributes {
      flex-direction: row;

      li {
        margin-right: 1rem;

        &:first-child:before {
          display: none;
        }
      }
    }

    section.about {
      display: grid;
      grid-template: auto/37% 63%;
      max-width: 120rem;
      margin: 8rem auto 6rem;
    }

    section.logo {
      height: 5rem;
      justify-content: left;
      margin: 0 0 2rem;

      img {
        max-width: 40rem;
      }
    }

    h2.tagline {
      grid-column: 1;
      font-size: 2.2rem;
      text-align: left;
    }

    p.summary {
      grid-column: 1;
      margin-bottom: 0;
      font-size: 1.8rem;
      text-align: left;
    }

    section.devices {
      grid-row: 1/4;
      grid-column: 2;
      margin: 2rem 0 0 4rem;
      padding: 0;
    }

    section.screens.group {
      padding: 0;

      figure[role="group"] {
        section {
          padding: 3rem;
        }
        figure {
          flex-basis: 28rem;
          margin: 0 3rem 0 0;
        }
      }
    }
  }
}
