// Case studies

body[data-controller="case-studies"] {
  article {
    margin: 8rem 0;
    
    h3 {
      margin-top: 1.8rem;
      text-align: center;
    }

    p {
      margin: 0 2.6rem 2.6rem;
    }

    nav {
      margin-top: 0;
    }
  }

  section.devices {
    position: relative;
    height: 36vw;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      height: 100%;
      margin: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    article {
      margin-bottom: 12rem;

      p {
        margin-right: 4.8rem;
        margin-left: 4.8rem;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    article {
      p, nav {
        margin-right: 9.6rem;
        margin-left: 9.6rem;
      }
    }

    section.devices {
      height: 22vw;
    }
  }

  @media only screen and (min-width: 1440px) {
    article {
      p {
        max-width: 80rem;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }

    section.devices {
      height: 28rem;
      display: flex;
      justify-content: center;
    }
  }
}
