// Case studies

body[data-controller="case-studies"] {
  article {
    margin-bottom: 10rem;
    
    h3 {
      visibility: hidden;
      height: 0;
      margin: 0;
      text-align: center;
    }

    p {
      margin: 1.4rem 2.6rem 2.6rem;
    }

    nav {
      margin-top: 0;
    }
  }

  section.screens {
    figure[role="group"] {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    article {
      margin-bottom: 16rem;

      p {
        margin: 2.4rem 4.8rem;
      }

      nav {
        justify-content: flex-start;
      }
    }
  }
}
