// Case study

body[data-controller="case-study"] {
  main {
    h1 {
      span {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2;
      }
    }
  }

  p.summary {
    margin: 2.4rem 2.6rem 5.6rem;
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    color: hsl(0,0%,30%);
  }

  section.devices {
    height: 36vw;
    margin-bottom: 2.4rem;

    img {
      height: 100%;
      margin: auto;
    }
  }

  section.screens figure[role="group"]:only-child figcaption {
    display: none;
  }

  section.Linode {
    figure[role="group"].callout {
      figure {
        margin-bottom: 1rem;
      }
    }
  }

  section.hibu {
    figure.callout.concept,
    figure.callout.prototype {
      section {
        display: flex;
        justify-content: space-between;

        figure:nth-child(1) {
          flex: 0 0 35.3%;
          margin: 0;
        }
        figure:nth-child(2) {
          flex: 0 0 60%;
          margin: 0;
        }
      }
    }
  }

  section.Fitly {
    figure.callout.pricing-cta {
      figure:nth-child(1) {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      figure:nth-child(2) {
        margin: 0 auto 2rem;
      }
    }
  }

  // No borders around mobile screens
  section.Vidyo {
    section.screens figure[role="group"] {
      &:nth-child(4) {
        figure {
          border: none;
        }
      }
    }
  }

  section.screens.group {
    margin-bottom: 4rem;
    padding-top: 2rem;
    background: hsl(175,55%,76%);
    
    figure[role="group"] figure {
      border: 0.1rem solid hsl(175,55%,66%);
    }
  }

  @media only screen and (min-width: 768px) {
    main {
      h1 {
        span {
          font-size: 4.2rem;
        }
      }
    }

    p.summary {
      margin-right: 4.8rem;
      margin-left: 4.8rem;
    }

    section.devices {
      margin-bottom: 3.6rem;
    }

    section.Linode {
      figure[role="group"]:not(.screens) {
        section {
          display: flex;
          justify-content: space-between;
        }
      }

      figure[role="group"].callout {
        figure {
          flex: 0 0 49%;
          margin-bottom: 0;
        }

        &.usability-testing {
          figure {
            flex: 0 0 32%;
          }
        }
      }
    }

    figure.callout {
      // Fitly
      &.zip-code {
        img {
          height: 30rem;
          width: auto;
          margin: auto;
        }
      }

      &.kitchen-view {
        img {
          height: 48rem;
          width: auto;
          margin: auto;
        }
      }

      &.pricing-cta {
        figure {
          margin-bottom: 2rem;
        }

        img {
          height: 24rem;
          width: auto;
          margin: auto;
        }
      }
    }

    section.hibu {
      figure.callout.concept,
      figure.callout.prototype {
        section {
          justify-content: center;

          figure:nth-child(1),
          figure:nth-child(2) {
            flex-basis: auto;
            margin: 0 1rem;
          }
        }
      }
    }

    main nav {
      display: flex;
      justify-content: center;
      margin: 6rem 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    section.about {
      margin-bottom: 6rem;
    }

    p.summary {
      margin-right: 9.6rem;
      margin-left: 9.6rem;
    }

    section.devices {
      height: 22vw;
    }

    section.screens.group {
      padding-top: 2rem;
    }
  }

  @media only screen and (min-width: 1280px) {
    section.screens.group {
      padding: 0;

      figure[role="group"] {
        section {
          padding: 3rem;
        }
        figure {
          flex-basis: 28rem;
          margin: 0 3rem 0 0;
        }
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    section.devices {
      height: 34rem;
      display: flex;
      justify-content: center;
    }
  }
}
