// Contact

body[data-controller="contact"] {
  
  ul.social {
    display: flex;
    margin: 0 0 4.8rem 2.6rem;
    list-style: none;

    li {
      margin: 0 2.4rem 0.8rem 0;
    }
  
    li.github a {
      background-position: -8rem 0;
    }
  
    li.twitter a {
      background-position: -16rem 0;
    }
  
    a {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 0 6rem;
      width: 6rem;
      height: 6rem;
      overflow: hidden;
      text-decoration: none;
      background: url('/images/icons.svg') no-repeat;
      background-size: cover;
    }
  }
  
  form {
    max-width: 57.6rem;
    margin: 0 2.6rem 6rem;

    label {
      margin-bottom: 0.6rem;
      line-height: 1;
    }
    p.label-note {
      margin: 0.4rem 0 0.6rem;
      font-size: 90%;
    }
    input:not([type="submit"]),
    select,
    textarea {
      width: 100%;
      min-height: 4.5rem;
      padding: 1.2rem;
      font-family: var(--font-content);
      font-size: 1.6rem;
      border: 0.1rem solid #cccccc;
      border-radius: 0.4rem;
      transition: border-color 0.2s, background-color 0.2s;

      &:focus {
        outline: none;
        border-color: var(--color-links);
      }
    }
  
    textarea {
      height: 100%;
      line-height: 1.5;
    }

    ul.data {
      margin: 0;
  
      & > li {
        margin: 0.6rem 0 2.4rem;
        list-style: none;
  
        &:last-child {
          margin-bottom: 0.6rem;
        }
        &.text,
        &.textarea,
        &.select {
          label {
            display: block;
          }
        }
        &.select {
          position: relative;
  
          &::after {
            content: '';
            display: block;
            width: 1.6rem;
            height: 2rem;
            position: absolute;
            right: 0.8rem;
            bottom: 1.2rem;
            background: url(../images/icons.svg) -24rem no-repeat;
            background-size: cover;
          }
        }
      }
    }

    ul.actions {
      margin: 1.6rem 0 0;
      list-style-type: none;

      li {
        margin-left: 0;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    ul.social {
      margin: 0 4.8rem 2.6rem;
    }

    form {
      margin-right: 4.8rem;
      margin-left: 4.8rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    ul.social {
      margin-left: 5.6rem;
  
      li.github a {
        background-position: -5.35rem 0;
      }
    
      li.twitter a {
        background-position: -10.65rem 0;
      }

      a {
        padding: 0 0 0 4rem;
        width: 4rem;
        height: 4rem;
      }
    }

    form {
      margin-left: 5.6rem;
      margin-right: 5.6rem;
    }

    li.primary-action input {
      width: auto;
    }
  }
}
