// Contact

body[data-controller="contact"] {
  @media only screen and (max-width: 767px) {
    main > h1 {
      margin-bottom: 2rem;
    }
  }

  ul.social {
    display: flex;
    justify-content: space-around;
    max-width: 26rem;
    margin: 0 auto 6rem;
    list-style: none;
  
    a {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 0 6rem;
      width: 6rem;
      height: 6rem;
      text-indent: 110%;
      overflow: hidden;
      text-decoration: none;
      background: url('/images/icons.svg') no-repeat;
      background-size: cover;
    }
  
    li.github a {
      background-position: -8rem 0;
    }
  
    li.twitter a {
      background-position: -16rem 0;
    }
  }
  
  form {
    label {
      margin-bottom: 0.6rem;
      line-height: 1;
    }
    p.label-note {
      margin: 0.4rem 0 0.6rem;
      font-size: 90%;
    }
    input:not([type="submit"]),
    select,
    textarea {
      width: 100%;
      padding: 1.2rem;
      font-family: 'Lato', sans-serif;
      font-size: 1.6rem;
      border: 0.1rem solid #cccccc;
      border-radius: 0.4rem;
      transition: border-color 0.5s, background-color 0.5s;
  
      &[type="submit"] {
        border: none;
      }
      &:focus {
        outline: none;
        border-color: #de2121;
      }
    }
  
    textarea {
      line-height: 1.5;
    }
  
    input[type="checkbox"],
    input[type="radio"] {
      flex: 0 0 3rem;
      height: 3rem;
      position: relative;
    }
  
    input[type="checkbox"] {
      &:checked {
        background: url('/images/icons.svg') no-repeat;
        background-size: auto 2.4rem;
        background-position: -9.4rem 0.2rem;
      }
    }
  
    input[type="radio"] {
      border-radius: 50%;
  
      &:checked {
        &::after {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          position: absolute;
          top: 0.2rem;
          left: 0.2rem;
          border-radius: 50%;
        }
      }
    }
    ul.data {
      margin: 0;
  
      & > li {
        margin: 0.6rem 0 2.4rem;
        list-style: none;
  
        &:last-child {
          margin-bottom: 0.6rem;
        }
        &.text,
        &.textarea,
        &.select {
          label {
            display: block;
          }
        }
        &.select {
          position: relative;
  
          &::after {
            content: '';
            display: block;
            width: 1.6rem;
            height: 2rem;
            position: absolute;
            right: 0.8rem;
            bottom: 1.1rem;
            background: url(../images/icons.svg) -24rem no-repeat;
            background-size: cover;
          }
        }
        &.checkbox,
        &.radio {
          display: flex;
          align-items: center;
  
          label {
            margin: 0 0 0 1.2rem;
            font-size: 100%;
            line-height: 1.3;
          }
        }
  
        ul.data {
          margin: 2.4rem 0;
  
          ul.data {
            & > li {
              flex-wrap: nowrap;
              margin: 1.2rem 0;
  
              ul.checkbox,
              ul.radio {
                margin-top: 0.6rem;
              }
            }
          }
        }
        ul.checkbox,
        ul.radio {
          & > li {
            margin: 0.4rem 0 0.6rem;
          }
        }
      }
    }
    ul.actions {
      margin: 0;
      padding: 2.4rem 0;
      text-align: center;
  
      & > li {
        display: block;
        margin-bottom: 1.2rem;
  
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 425px) {
    form {
      max-width: 40rem;
      margin: auto;
    }

    li.primary-action input {
      width: auto;
    }
  }
}
