// Contact

body[data-controller="contact"] {
  @media only screen and (max-width: 767px) {
    main > h2 {
      margin-bottom: 2rem;
    }
  }

  ul.social {
    display: flex;
    justify-content: space-around;
    max-width: 26rem;
    margin: 0 auto 6rem;
    list-style: none;
  
    a {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 0 6rem;
      width: 6rem;
      height: 6rem;
      text-indent: 110%;
      overflow: hidden;
      text-decoration: none;
      background: url('/images/icons.svg') no-repeat;
      background-size: cover;
    }
  
    li.github a {
      background-position: -8rem 0;
    }
  
    li.twitter a {
      background-position: -16rem 0;
    }
  }
  
  form {
    padding: 0 2rem 6rem;

    label {
      margin-bottom: 0.6rem;
      line-height: 1;
    }
    p.label-note {
      margin: 0.4rem 0 0.6rem;
      font-size: 90%;
    }
    input:not([type="submit"]),
    select,
    textarea {
      width: 100%;
      min-height: 4.5rem;
      padding: 1.2rem;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.6rem;
      border: 0.1rem solid #cccccc;
      border-radius: 0.4rem;
      transition: border-color 0.2s, background-color 0.2s;

      &:focus {
        outline: none;
        border-color: hsl(2,86%,53%);
      }
    }
  
    textarea {
      height: 100%;
      line-height: 1.5;
    }

    ul.data {
      margin: 0;
  
      & > li {
        margin: 0.6rem 0 2.4rem;
        list-style: none;
  
        &:last-child {
          margin-bottom: 0.6rem;
        }
        &.text,
        &.textarea,
        &.select {
          label {
            display: block;
          }
        }
        &.select {
          position: relative;
  
          &::after {
            content: '';
            display: block;
            width: 1.6rem;
            height: 2rem;
            position: absolute;
            right: 0.8rem;
            bottom: 1.2rem;
            background: url(../images/icons.svg) -24rem no-repeat;
            background-size: cover;
          }
        }
      }
    }

    ul.actions {
      margin: 4rem 0;
      list-style-type: none;

      li {
        display: flex;
        justify-content: center;
      }
    }
  }

  @media only screen and (min-width: 425px) {
    form {
      max-width: 40rem;
      margin: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    main h2 {
      text-align: center;
    }
  }

  @media only screen and (min-width: 1024px) {
    main {
      max-width: 80rem;
      margin: auto;

      h2 {
        text-align: left;
      }
    }

    ul.social {
      justify-content: flex-start;
      margin-bottom: 2rem;
      margin-left: 0;
      padding: 0 4rem;

      li {
        margin-right: 2.8rem;
      }
    }

    form {
      max-width: 72rem;
      padding-right: 0;
      padding-left: 0;

      ul.data {
        display: grid;
        grid-template: auto / 50% 50%;
        row-gap: 2rem;
        column-gap: 4rem;

        li {
          margin: 0;

          &.email,
          &.subject {
            grid-column: 1;
          }

          &.message {
            grid-row: 1 / 4;
            grid-column: 2;
            margin-bottom: 0;

            textarea {
              height: 23rem;
            }
          }
        }
      }
    }
  }

  &[data-action="confirmation"] {
    h1,
    section.content p {
      text-align: center;
    }
  }
}
