// Fonts


@font-face {
	font-family: 'social';
	src: url('/images/icons/social.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Global styles
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;

  > * {
    width: 100%;
  }
}

h2 {
  margin: 5rem 0 1rem;
  font-size: 2rem;
  text-align: center;
}

h3 {
  margin: 3rem 0 0.5rem;
  font-size: 1.8rem;
}

a.primary-action,
li.primary-action a,
li.primary-action input {
  display: inline-block;
  min-width: 26rem;
  padding: 1.4rem 2.4rem;
  font-family: Raleway, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0.1rem 0.2rem #541212;
  background-image: linear-gradient(-180deg,#ed5e5e,#cf1717);
  border-radius: 0.4rem;
}

p.error {
  padding: 2rem;
  color: white;
  background: #d92626;
  border-radius: 0.6rem;
}

// Override default width or height caused by alt attributes in unloaded images
// Coincides with JAY.global.imageLoad() in global.js
img[data-src]:not(.loaded) {
  @media only screen and (max-width: 767px) {
    height: 100%;
  }
  @media only screen and (min-width: 768px) {
    width: 100%;
  }
}

// Main header
body {
  > header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 0.8rem 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #fafafa;
    background-image: linear-gradient(-180deg, #FFFFFF 33%, #f8f8f7 100%);
    border-top: 0.4rem solid #DCDDD8;
    border-bottom: 0.1rem solid #eeeeec;

    h1 {
      padding: 1.4rem;
      font-size: 2.8rem;
      letter-spacing: 0.4px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;

      a {
        color: #5d5f53;
        text-decoration: none;
      }
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      li {
        margin: 0.2rem 0.4rem;

        a {
          display: block;
          padding: 0.8rem 1.2rem;
          text-decoration: none;
          color: #5e5f53;
        }
      }
    }
  }

  &[data-controller="index"] > header nav li.about a,
  &[data-controller="case-study"] > header nav li.case-studies a,
  &[data-controller="case-studies"] > header nav li.case-studies a,
  &[data-controller="portfolio"] > header nav li.portfolio a,
  &[data-controller="work-history"] > header nav li.work-history a,
  &[data-controller="contact"] > header nav li.contact a {
    background: #ebece9;
    border-radius: .4rem;
  }
}

// Main content
main {
  flex: 1 1 auto;
  color: #333333;

  > * {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  > h1 {
    margin: 3rem auto;
    padding: 0 1rem;
    font-size: 2.2rem;
    text-align: center;
  }

  > p {
    text-align: center;
  }
}

main, footer {
  a {
    font-weight: 600;
    color: #de2121;

    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes loading-indicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mask for zoomed images
#mask {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
  background: hsla(0,0%,0%,0.95);
  // Use a slightly more opaque background if backdrop-filter isn't supported
  background-color: hsla(0,0%,0%,0.9);
  @supports(backdrop-filter: saturate(180%) blur(0.5rem)) {
    background-color: hsla(0,0%,0%,0.8);
    backdrop-filter: saturate(180%) blur(0.5rem);
  }

  &.loading {
    &::before {
      content: '';
      display: block;
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: calc(50% - 5rem);
      left: calc(50% - 5rem);
      border: 0.8rem solid #efefef;
      border-top-color: #666666;
      border-bottom-color: #666666;
      border-radius: 50%;
      animation: loading-indicator 1.25s ease 8;
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    object-fit: contain;
  }

  &.enabled {
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 2rem;
    z-index: 1000;
    opacity: 1;
  }

  &.closing {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

// Open image in new tab
#mask-open-tab {
  width: 3rem;
  height: 3rem;
  padding-left: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 6rem;
  background: url('/images/icons.svg') no-repeat;
  background-size: auto 2rem;
  background-position: -10.2rem 0.5rem;
  overflow: hidden;
}

// Close mask button
#mask-close {
  width: 3rem;
  height: 3rem;
  padding-left: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: url(/images/icons.svg) no-repeat;
  background-size: auto 2rem;
  background-position: -12.8rem 0.5rem;
  overflow: hidden;
}

a.new-tab {
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    background: url('/images/icons.svg') no-repeat;
    background-size: cover;
    background-position: -32rem 0;
    opacity: 0;
    transition: opacity 0.2s;
  }

  img {
    transition: filter 0.2s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    img {
      filter: brightness(50%);
    }
  }
}

article.endorsement {
  position: relative;
  padding: 2rem 2.5rem 4rem;
  font-style: italic;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    background: url('/images/icons.svg') no-repeat;
    background-size: cover;
  }

  &:before {
    top: 0.5rem;
    left: 1rem;
    background-position: -56rem 0;
  }

  &:after {
    right: 2rem;
    bottom: 3rem;
    background-position: -64rem 0;
  }

  p {
    position: relative;
    z-index: 2;
  }

  p:last-of-type {
    margin: 0;
  }

  span.byline {
    display: block;
    position: absolute;
    right: 2rem;
    bottom: 0;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #666;
    text-align: right;
  }
}

footer {
  margin: 4rem 0 0;
  padding: 2rem;
  color: #606255;
  text-align: center;
  background: #f0f1ef;
  border-top: .1rem solid #e6e7e4;

  p.quote {
    margin: 2rem auto 4rem;
    font-style: italic;

    span.byline {
      font-style: normal;
    }
  }
  
  p.copyright {
    margin: 4rem 0 0;
    font-size: 1.4rem;

    a {
      font-weight: normal;
      color: #606255;
    }
  }
}

// 768px and up
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;

    > header nav li a:hover,
    &[data-controller="index"] > header nav li.about a,
    &[data-controller="case-study"] > header nav li.case-studies a,
    &[data-controller="case-studies"] > header nav li.case-studies a,
    &[data-controller="portfolio"] > header nav li.portfolio a,
    &[data-controller="work-history"] > header nav li.work-history a,
    &[data-controller="contact"] > header nav li.contact a {
      position: relative;
      background: none;
  
      &::after {
        content: '';
        display: block;
        width: calc(100% - 3rem);
        height: 0.3rem;
        position: absolute;
        bottom: 0;
        left: 1.5rem;
        background: #868877;
      }
    }

    > header nav li a:hover::after {
      background: #e44e4e !important;
    }
  }

  // Main header
  body > header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100% - 140rem) / 2);
    font-size: 1.6rem;

    h1 {
      margin: 0 2rem;
      padding: 1rem;
      font-size: 2rem;
    }

    nav {
      ul {
        margin-right: 1.5rem;

        li {
          margin: 0;

          a {
            padding: 2rem 1.5rem 1.9rem;
          }
        }
      }
    }
  }

  main {
    > h1 {
      margin: 4rem auto 2rem;
    }

    > p {
      max-width: 64rem;
      margin-right: auto;
      margin-left: auto;
      font-size: 2rem;
    }
  }

  footer {
    p.quote {
      max-width: 70rem;
    }
  }

  html.js {
    body {
      > header {
        position: fixed;
        z-index: 500;
        transition: margin 0.3s;
      }
      &.hidden-header > header {
        margin-top: -6rem; // Header height
      }
    }

    main {
      padding-top: 6rem !important;
    }
  }
}

// 1024px and up
@media only screen and (min-width: 1024px) {
  body > header {
    // 96rem + 3rem margin/padding on either side = 102rem
    padding: 0 calc((100% - 102rem) / 2);
  }

  h1, h2 {
    br {
      display: none;
    }
  }

  h3 {
    margin: 4rem 0 1rem;
  }

  a.primary-action,
  li.primary-action a {
    padding: 1.4rem 2.4rem;
  }

  main {
    width: 96rem;
    margin: auto;
    padding-left: 0;
    padding-right: 0;

    > * {
      margin-right: 0;
      margin-left: 0;
    }
    
    > h1 {
      margin: 6rem auto 2rem;
      padding: 0;
      font-size: 2.2rem;
    }

    > p {
      max-width: 80rem;
    }
  }

  footer {
    margin-top: 8rem;
  }
}
