@use '_header';
@use '_footer';
@use '_screens';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,700;1,400&family=Raleway:wght@500;600;700;800;900&display=swap');

@font-face {
	font-family: 'social';
	src: url('/images/icons/social.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Custom properties
:root {
  --color-links: hsl(207,54%,32%);
  --color-primary: hsl(176,70%,40%);
  --font-content: 'Libre Franklin', sans-serif;
  --font-primary: 'Raleway', sans-serif;
}

// Global styles
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: var(--font-content);
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
}

main {
  margin: 0 2.6rem;
  color: black;

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2rem 0;
    padding-bottom: 1.6rem;
    font-size: 3.6rem;
    text-transform: lowercase;
    color: #333;
    border-bottom: 0.1rem solid #efefef;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
  }

  h2 {
    margin: 2.4rem 0;
    font-size: 2.4rem;
    color: var(--color-primary);
  }

  h3 {
    margin: 4.8rem 0 1.2rem;
    font-size: 2rem;
    color: hsl(0,0%,10%);
  }

  h4 {
    margin: 0.6rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: hsl(0,0%,20%);
  }

  h5 {
    margin: 0.4rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(0,0%,20%);
  }
  
  nav {
    margin: 4.8rem 0;
    display: flex;
    justify-content: center;
  }
}

section.content {
  margin-bottom: 6rem;

  h2:not(:first-child) {
    margin-top: 6rem;
  }
  
  p {
    margin-bottom: 2.6rem;
  }

  ul {
    margin-top: 0;

    li {
      margin: 0 0 0.8rem 2rem;

      &::marker {
        color: hsl(0,0%,75%);
      }
    }
  }
}

a {
  color: var(--color-links);

  &:hover {
    text-decoration: none;
  }
}

a.primary-action,
li.primary-action input {
  display: block;
  width: 100%;
  padding: 1.2rem 2.4rem;
  color: hsl(0,0%,100%);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  background: var(--color-links);
  border-radius: 0.4rem;

  &:hover {
    background: hsl(207,54%,42%);
  }
}

a.secondary-action,
li.secondary-action input {
  display: block;
  width: 100%;
  padding: 1.2rem 2.4rem;
  color: var(--color-links);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  background: hsl(0,0%,100%);
  border: 1px solid var(--color-links);
  border-radius: 0.4rem;

  &:hover {
    background: hsl(207,54%,42%);
  }
}

p.error {
  display: flex;
  margin: 3.6rem 2.6rem;
  padding: 2.4rem;
  font-family: var(--font-primary);
  font-weight: 600;
  color: hsl(0,0%,100%);
  background: var(--color-primary);
  border-radius: 0.6rem;

  &:before {
    content: '!';
    display: block;
    flex: 0 0 3rem;
    height: 3rem;
    margin-right: 2rem;
    padding: 0.6rem 0.4rem 0.2rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2rem;
    text-align: center;
    color: hsl(175,55%,50%);
    background: hsl(0,0%,100%);
    border-radius: 50%;
  }
}

strong {
  color: hsl(0,0%,20%);
}

// Override default width or height caused by alt attributes in unloaded images
// Coincides with JAY.global.imageLoad() in global.js
// Explicit width/height in the markup would be best though
img[data-src]:not(.loaded) {
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

@keyframes loading-indicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mask for zoomed images
#mask {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background: hsla(0,0%,0%,0.95);
  // Use a slightly more opaque background if backdrop-filter isn't supported
  background-color: hsla(0,0%,0%,0.9);
  @supports(backdrop-filter: saturate(180%) blur(0.5rem)) {
    background-color: hsla(0,0%,0%,0.8);
    backdrop-filter: saturate(180%) blur(0.5rem);
  }

  &.loading {
    &::before {
      content: '';
      display: block;
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: calc(50% - 5rem);
      left: calc(50% - 5rem);
      border: 0.8rem solid #efefef;
      border-top-color: #666666;
      border-bottom-color: #666666;
      border-radius: 50%;
      animation: loading-indicator 1.25s ease 8;
    }
  }

  h1 {
    padding: 0.2rem 0;
    font-size: 1.8rem;
    color: #efefef;

    @media only screen and (min-width: 768px) {
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: calc(100% - 170px);
    margin: 2rem auto;
    z-index: 2;
    object-fit: contain;
  }

  &.enabled {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 1000;
    opacity: 1;
  }

  &.screens {
    justify-content: space-between;
  }
}

// Open image in new tab
#mask-open-tab {
  width: 3rem;
  height: 3rem;
  padding-left: 3rem;
  position: absolute;
  top: 2rem;
  right: 6rem;
  background: url('/images/icons.svg') no-repeat;
  background-size: auto 2rem;
  background-position: -10.2rem 0.5rem;
  overflow: hidden;
}

// Close mask button
#mask-close {
  width: 3rem;
  height: 3rem;
  padding-left: 3rem;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  background: url(/images/icons.svg) no-repeat;
  background-size: auto 2rem;
  background-position: -12.8rem 0.5rem;
  overflow: hidden;
}

a.new-tab {
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    background: url('/images/icons.svg') no-repeat;
    background-size: cover;
    background-position: -32rem 0;
  }

  @media (hover: hover) {
    &::after {
      top: calc(50% - 2rem);
      left: calc(50% - 2rem);
      opacity: 0;
      transition: opacity 0.2s;
    }
  
    img {
      transition: filter 0.2s;
    }
  
    &:hover {
      &::after {
        opacity: 1;
      }
      img {
        filter: brightness(50%);
      }
    }
  }

  @media (hover: none) {
    &::after {
      display: none;
    }
  }
}

// 768px and up
@media only screen and (min-width: 768px) {
  main {
    margin: 0 4.8rem;

    h1 {
      margin: 2.4rem 0;
      font-size: 4.2rem;
    }
    h2 {
      margin: 3.6rem 0 2.4rem;
      font-size: 2.6rem;
    }
  }

  a.primary-action,
  li.primary-action input {
    width: auto;
    padding: 1.4rem 2.4rem;
  }

  p.error {
    margin: 6.4rem 4.8rem;
  }
}

// 1024px and up
@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    padding-left: calc((100% - 140rem)/2);
  }

  main {
    width: 100%;
    height: 100vh;
    overflow-x: hidden; // Hide horizontal scrollbars in Windows browsers
    margin-right: 0;
    padding-right: 4.8rem; // Push vertical scrollbar to screen edge
    padding-bottom: 6rem; // Provides a comfortable gap between content and browser bottom

    h1 {
      margin: 13.8rem 0 3.6rem;
    }
  }

  p.error {
    max-width: 57.6rem;
    margin: 6.4rem 0;
  }
}


@media only screen and (min-width: 1280px) {
  // Make sure all content in main is 768px wide. This is a sledgehammer
  // when I should be using a scalpel. I'm sure I'll regret this later.
  main {
    margin-left: 9.6rem;

    > {
      h1, section, article, nav {
        max-width: 76.8rem;
      }
    }
  }
}


@media only screen and (min-width: 1440px) {
  // Make sure all content in main is 960px wide. This is a sledgehammer
  // when I should be using a scalpel. I'm sure I'll regret this later.
  main {
    > {
      h1, section, article, nav {
        max-width: 88rem;
      }
    }
  }
}
