// Fonts
@font-face {
  font-family: 'Lato';
  src:  url('/fonts/Lato/LatoLatin-Regular.woff2') format('woff2'),
        url('/fonts/Lato/LatoLatin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato Bold';
  src:  url('/fonts/Lato/LatoLatin-Bold.woff2') format('woff2'),
        url('/fonts/Lato/LatoLatin-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato Bold Italic';
  src:  url('/fonts/Lato/LatoLatin-BoldItalic.woff2') format('woff2'),
        url('/fonts/Lato/LatoLatin-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Lato Italic';
  src:  url('/fonts/Lato/LatoLatin-Italic.woff2') format('woff2'),
        url('/fonts/Lato/LatoLatin-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Lato Light';
  font-weight: 300;
  src:  url('/fonts/Lato/LatoLatin-Light.woff2') format('woff2'),
        url('/fonts/Lato/LatoLatin-Light.woff') format('woff');
}

@font-face {
  font-family: 'Lato Semibold';
  src:  url('/fonts/Lato/LatoLatin-Semibold.woff2') format('woff2'),
        url('/fonts/Lato/LatoLatin-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'social';
	src: url('/images/icons/social.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Global styles
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;

  > * {
    width: 100%;
  }
}

h2 {
  margin: 4rem 0 2rem;
  font-size: 2.2rem;
  font-family: 'Lato Bold', sans-serif;
  text-align: center;
}

h3 {
  margin: 3rem 0 0.5rem;
  font-family: 'Lato Bold', sans-serif;
}

p {
  a {
    font-family: 'Lato Bold', sans-serif;
    color: #ff0055;

    &:hover {
      text-decoration: none;
    }
  }
}

a.primary-action,
li.primary-action a,
li.primary-action input {
  display: block;
  margin: auto;
  padding: 1.6rem 3rem 1.8rem;
  font-family: 'Lato Semibold', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0.1rem 0.2rem #80192B;
  background-image: linear-gradient(-180deg, #FF3377 0%, #D92B48 100%);
  border-radius: 0.4rem;
}

// Override default width/height caused by alt attributes in unloaded images
img[data-src]:not(.loaded) {
  width: 0;
  height: 0;
}

// Main header
body {
  > header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 0.8rem 0;
    font-size: 1.8rem;
    background-color: #fafafa;
    background-image: linear-gradient(-180deg, #FFFFFF 33%, #F7F7F7 100%);
    border-top: 0.4rem solid #FF3377;
    border-bottom: 0.1rem solid #f0f0f0;

    h1 {
      padding: 1.4rem;
      font-size: 2.8rem;
      font-family: 'Lato Bold', sans-serif;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;

      a {
        color: #595959;
        text-decoration: none;
      }
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      li {
        margin: 0.2rem 0.4rem;

        a {
          display: block;
          padding: 0.8rem 1.2rem;
          text-decoration: none;
          color: #737373;
        }
      }
    }
  }

  &[data-controller="index"][data-view="index"] > header nav li.about a,
  &[data-controller="case-study"][data-view="case-study"] > header nav li.case-studies a,
  &[data-controller="case-studies"][data-view="case-studies"] > header nav li.case-studies a,
  &[data-controller="portfolio"][data-view="portfolio"] > header nav li.portfolio a,
  &[data-controller="work-history"][data-view="work-history"] > header nav li.work-history a,
  &[data-controller="contact"][data-view="contact"] > header nav li.contact a {
    color: #4d4d4d;
    background: #e6e6e6;
    border-radius: 0.6rem;
  }
}

// Main content
main {
  flex: 1 1 auto;
  color: #333333;

  > * {
    margin-right: 1rem;
    margin-left: 1rem;
    overflow-x: hidden;
  }

  > h1 {
    margin: 3rem auto;
    padding: 0 1rem;
    font-family: 'Lato Bold', sans-serif;
    font-size: 2.2rem;
    text-align: center;
  }

  > p {
    text-align: center;
  }
}

@keyframes loading-indicator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mask for zoomed images
#mask {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
  background: hsla(0,0%,0%,0.95);
  // Use a slightly more opaque background if backdrop-filter isn't supported
  background-color: hsla(0,0%,0%,0.9);
  @supports(backdrop-filter: saturate(180%) blur(0.5rem)) {
    background-color: hsla(0,0%,0%,0.8);
    backdrop-filter: saturate(180%) blur(0.5rem);
  }

  &.loading {
    &::before {
      content: '';
      display: block;
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: calc(50% - 5rem);
      left: calc(50% - 5rem);
      border: 0.8rem solid #efefef;
      border-top-color: #666666;
      border-bottom-color: #666666;
      border-radius: 50%;
      animation: loading-indicator 1.25s ease 8;
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    object-fit: contain;
  }

  &.enabled {
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 2rem;
    z-index: 1000;
    opacity: 1;
  }

  &.closing {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

// Open image in new tab
#mask-open-tab {
  width: 2rem;
  height: 2rem;
  padding-left: 2rem;
  position: absolute;
  top: 2rem;
  right: 6rem;
  background: url('/images/icons/open-new-tab.png') center no-repeat;
  background-size: contain;
  overflow: hidden;
}

// Close mask button
#mask-close {
  width: 2rem;
  height: 2rem;
  padding-left: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: url('/images/icons/close.png') center no-repeat;
  background-size: contain;
  overflow: hidden;
}

a.new-tab {
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    background: url('/images/icons/zoom.png') center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }

  img {
    transition: filter 0.2s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    img {
      filter: brightness(50%);
    }
  }
}

article.endorsement {
  position: relative;
  padding: 2rem 2.5rem 4rem;
  font-family: 'Lato Italic', sans-serif;
  font-size: 1.6rem;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:before {
    top: 0.5rem;
    left: 1rem;
    background-image: url('/images/icons/quote-open.png');
  }

  &:after {
    right: 2rem;
    bottom: 3rem;
    background-image: url('/images/icons/quote-close.png');
  }

  p {
    position: relative;
    z-index: 2;
  }

  p:last-of-type {
    margin: 0;
  }

  span.byline {
    display: block;
    position: absolute;
    right: 2rem;
    bottom: 0;
    z-index: 2;
    font-family: 'Lato Bold', sans-serif;
    color: #666;
    text-align: right;
  }
}

footer {
  margin: 4rem 0 0;
  padding: 2rem;
  color: #808080;
  text-align: center;
  background: #f7f7f7;
  border-top: .1rem solid #f0f0f0;

  p.quote {
    margin: 2rem auto 4rem;
    font-family: 'Lato Italic', sans-serif;
  }
  
  p.copyright {
    margin: 4rem 0 0;
    font-size: 1.4rem;
  }
}

// 768px and up
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;

    > header nav li a:hover,
    &[data-controller="index"][data-view="index"] > header nav li.about a,
    &[data-controller="case-study"][data-view="case-study"] > header nav li.case-studies a,
    &[data-controller="case-studies"][data-view="case-studies"] > header nav li.case-studies a,
    &[data-controller="portfolio"][data-view="portfolio"] > header nav li.portfolio a,
    &[data-controller="work-history"][data-view="work-history"] > header nav li.work-history a,
    &[data-controller="contact"][data-view="contact"] > header nav li.contact a {
      position: relative;
      color: #737373;
      background: none;
  
      &::after {
        content: '';
        display: block;
        width: calc(100% - 3rem);
        height: 0.3rem;
        position: absolute;
        bottom: 0;
        left: 1.5rem;
        background: #999999;
      }
    }

    > header nav li a:hover::after {
      background: #ff3377 !important;
    }
  }

  // Main header
  body > header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100% - 140rem) / 2);
    font-size: 1.6rem;

    h1 {
      margin: 0 3rem;
      padding: 1rem;
      font-size: 1.8rem;
    }

    nav {
      ul {
        margin-right: 3rem;

        li {
          margin: 0;

          a {
            padding: 2rem 1.5rem 1.9rem;
          }
        }
      }
    }
  }

  main {
    > h1 {
      margin: 4rem auto;
    }

    > p {
      max-width: 64rem;
      margin-right: auto;
      margin-left: auto;
    }
  }

  footer {
    p.quote {
      max-width: 70rem;
    }
  }

  html.js {
    body {
      > header {
        position: fixed;
        z-index: 500;
        transition: margin 0.3s;
      }
      &.hidden-header > header {
        margin-top: -6rem; // Header height
      }
    }

    main {
      padding-top: 6rem !important;
    }
  }
}

// 1024px and up
@media only screen and (min-width: 1024px) {
  body > header {
    padding: 0 calc((100% - 104rem) / 2);
  }

  h1, h2 {
    br {
      display: none;
    }
  }

  h3 {
    margin: 4rem 0 1rem;
  }

  a.primary-action,
  li.primary-action a {
    padding: 1.4rem 2.4rem 1.6rem;
  }

  main {
    width: 96rem;
    margin: auto;
    padding-left: 0;
    padding-right: 0;

    > h1 {
      margin: 6rem auto 2rem;
      font-size: 2.2rem;
    }

    > p {
      max-width: 80rem;
      font-size: 2rem;
    }
  }
}