// Home / About

body[data-controller="index"] {
  @media only screen and (max-width: 374px) {
    h1 {
      br {
        display: none;
      }
    }
  }

  h2 {
    width: 100%;
  }

  section.case-studies {
    p {
      max-width: 80rem;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  article.endorsement {
    margin: 2rem 0;
  }

  nav.more {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
  }

  @media only screen and (min-width: 768px) {
    section.endorsements {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 4rem;
    }

    article.endorsement {
      flex: 0 0 48%;
    }
  }
}