// Home / About

@import '_mixins';

body[data-controller="index"] {
  background: hsl(175,55%,76%);

  header {
    background: hsl(175,55%,76%);
  }

  main {
    h1, h2 {
      color: white;
      text-shadow: 0 1px 3px hsl(175,42%,45%);
    }

    h2 {
      font-weight: 800;
    }
  }

  section.intro {
    background: hsl(175,55%,70%);

    p {
      color: hsl(176,33%,30%);
    }
  }

  section.case-studies h2 {
    padding-bottom: 0;
  }

  section.screens {
    margin: 1rem 0 2rem;

    figure[role="group"] figure {
      height: 22.5rem;
      border: 0.1rem solid hsl(175,55%,66%);
    }
  }

  section.endorsements {
    background: hsl(175,55%,70%);
    padding-bottom: 8rem;
  }

  blockquote {
    position: relative;
    padding: 2rem 2.5rem 4rem;
  
    &:before {
      content: '“'
    }
    &:after {
      content: '”'
    }
  
    &:before,
    &:after {
      display: block;
      position: absolute;
      z-index: 2;
      height: 3rem;
      font-family: Raleway, sans-serif;
      font-weight: 800;
      font-size: 6.4rem;
      color: white;
      text-shadow: 0 2px 4px hsl(175,22%,55%);
    }
  
    &:before {
      top: 0.8rem;
      left: 1.4rem;
    }
  
    &:after {
      right: 1.4rem;
      bottom: 3rem;
    }
  
    p {
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 2.2rem 3.2rem;
      font-family: Raleway, sans-serif;
      color: #444;
      background: hsl(175,100%,95%);
      border-radius: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    section.case-studies{
      margin-bottom: 4rem;
    }

    section.screens {
      margin: 0;

      figure[role="group"] {
        figure {
          height: 34.6rem;
          border: 0.1rem solid hsl(175,55%,66%);
        }
      }
    }
    
    section.quotes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 2.4rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    section.case-studies {
      margin: 6rem auto;
    }

    section.screens figure[role="group"] {
      figure {
        height: 16.6rem;
      }
    }

    section.endorsements {
      background: none;
    }

    blockquote {
      flex: 0 0 50%;
    }
  }

  @media only screen and (min-width: 1280px) {
    section.screens figure[role="group"] {
      figure {
        height: 21.2rem;
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    main > section {
      margin-bottom: 8rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  html.js body[data-controller="index"] {
    header {
      background: hsla(175,55%,70%,0);
    }
    &.fixed-header header {
      background: hsla(175,55%,65%,0.75);
    }
  }
}
