// Home / About

body[data-controller="index"] {
  section.quotes {
    display: grid;
    gap: 3.6rem;
    margin: 4.8rem 2.6rem 0;
  }

  blockquote {
    position: relative;
    padding: 2.8rem;
    border: 0.1rem solid hsl(176, 60%, 80%);
    border-radius: 1.6rem;

    &:before,
    &:after {
      display: block;
      position: absolute;
      z-index: 2;
      width: 4rem;
      height: 4rem;
      font-family: serif;
      font-weight: 800;
      font-size: 6.4rem;
      text-align: center;
      color: hsl(176, 60%, 70%);
      background: hsl(0, 0%, 100%);
    }

    &:before {
      content: '“';
      top: 2rem;
      left: -2.2rem;
    }

    &:after {
      content: '”';
      bottom: 2rem;
      right: -2rem;
    }
  
    p {
      position: relative;
      z-index: 1;
      margin: 0;
      font-size: 1.4rem;
      font-style: italic;
      color: hsl(0,0%,20%);
    }
  }

  @media only screen and (min-width: 768px) {
    section.quotes {
      margin-right: 4.8rem;
      margin-left: 4.8rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    section.quotes {
      gap: 5.6rem;
      max-width: 64rem;
      margin: auto !important;
    }

    blockquote {
      padding: 3rem 3.6rem;
      border-radius: 2.4rem;
    }
  }

  @media only screen and (min-width: 1440px) {
    blockquote {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
