// Home / About

@import '_mixins';

body[data-controller="index"] {
  background: hsl(175,55%,76%);

  header {
    background: none;
  }

  main h1 {
    color: white;
    text-shadow: 0 2px 4px hsl(175,22%,55%);
  }

  section.intro {
    background: hsl(175,55%,70%);

    p {
      width: 90%;
      margin: 0 auto;
      padding: 0 2rem 3rem;
      font-family: 'Avenir Next', Lato, sans-serif;
      font-size: 2.4rem;
      font-weight: 500;
      color: hsl(176,33%,30%);
      text-align: center;
      line-height: 1.4;
    }
  }

  section.case-studies h1 {
    padding-bottom: 0;
  }

  section nav {
    display: flex;
    justify-content: center;
    padding: 0 2rem 4rem;
  }

  section.endorsements {
    margin-top: 4rem;

    nav.more {
      margin-top: 4rem;
    }
  }

  article.endorsement {
    margin: 2rem 0;
  }

  @media only screen and (min-width: 768px) {
    main {
      > h1 {
        padding: 5rem 1rem 2rem;
      }

      > p {
        max-width: none;
        padding: 0 calc((100% - 66rem) / 2) 3rem;
      }
    }

    nav.case-studies {
      padding-bottom: 5rem;
    }
    
    section.endorsements {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        flex-basis: 100%;
        margin: 7rem 0 2rem;
        padding: 0;
      }
    }

    article.endorsement {
      flex: 0 0 48%;
    }
  }

  @media only screen and (min-width: 1024px) {
    main {
      width: 100%;

      > h1 {
        margin: 0;
        padding-top: 6rem;
      }
    }

    nav.case-studies {
      padding-bottom: 6rem;
    }

    section.endorsements {
      width: 96rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
