@import '_mixins';

// Home / About

body[data-controller="index"] {
  @media only screen and (max-width: 374px) {
    h1 {
      br {
        display: none;
      }
    }
  }

  main {
    > h1 {
      margin: 0;
      padding: 3rem 1rem;
      text-shadow: 0 0.1rem 0.4rem #121a21;
    }

    > p {
      margin: 0;
      padding: 0 1rem 3rem;
    }

    > h1, > p {
      color: #ffffff;
      background-color: #354B5E;
    }
  }

  nav.case-studies {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 4rem;
    background-color: #354B5E;
  }

  section.endorsements {
    margin-top: 4rem;

    nav.more {
      margin-top: 4rem;
    }
  }

  article.endorsement {
    margin: 2rem 0;
  }

  nav.more {
    width: 100%;
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    main {
      > h1 {
        padding: 5rem 1rem 2rem;
      }

      > p {
        max-width: none;
        padding: 0 calc((100% - 64rem) / 2) 3rem;
      }
    }

    nav.case-studies {
      padding-bottom: 5rem;
    }
    
    section.endorsements {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        flex-basis: 100%;
        margin: 7rem 0 2rem;
        padding: 0;
      }
    }

    article.endorsement {
      flex: 0 0 48%;
    }
  }

  @media only screen and (min-width: 1024px) {
    main {
      width: 100%;

      > h1 {
        margin: 0;
        padding-top: 6rem;
      }

      > p {
        padding: 0 calc((100% - 80rem) / 2) 4rem;
      }
    }

    nav.case-studies {
      padding-bottom: 6rem;
    }

    section.endorsements {
      width: 96rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
