// Portfolio

body[data-controller="portfolio"] {
  section.documents {
    ul {
      margin: 2rem auto 0;
      color: #cccccc;
    }

    li {
      margin: 0 0 0.8rem 2rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    section.documents p,
    section.documents ul,
    section.all-screens p {
      max-width: 80rem;
      margin-right: auto;
      margin-left: auto;
    }

    section.documents p,
    section.all-screens p {
      text-align: center;
    }

    section.documents {
      ul {
        margin-top: 4rem;
        display: block;
        column-count: 2;
        column-gap: 2rem;
      }
    }
  }
}
