// Work history

body[data-controller="resume"] {
  main {
    > h2 {
      margin-bottom: 0;
    }
    section:nth-child(2) {
      margin-bottom: 4.8rem;
    }
  }

  section.resume {
    h3 {
      margin-top: 0;
    }
  }

  section.competencies {
    li {
      list-style: none;
      margin-left: 0;

      h4 {
        margin: 0;
      }
    }
  }

  section.employer {
    margin-bottom: 6rem;

    p.dates {
      margin-bottom: 1.2rem;
      font-size: 1.6rem;
      color: hsl(0,0%,50%);
    }

    nav {
      margin-top: 0;
    }
  }


  @media only screen and (min-width: 768px) {
    section.employer {
      margin-bottom: 8rem;
    }

    section.work-history {
      nav {
        display: flex;
        justify-content: flex-start;
        margin-top: 2.4rem;
      }
    }
  }
}
