// Screenshots
section.screens {
  margin: 0;

  // Override default height caused by alt attributes in unloaded images
  // Coincides with JAY.global.imageLoad() in global.js
  img[data-src]:not(.loaded) {
    height: 0;
  }

  figure[role="group"] {
    margin: 4rem auto;
    
    section {
      display: flex;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding: 1rem;

      &::after {
        content: '';
        flex: 0 0 1rem;
        display: block;
        height: 1rem;
      }
    }

    figure {
      flex: 0 0 82vw;
      height: 50vw;
      margin: 0 2rem 0 0;
      border-radius: 0.4rem;
      border: 0.1rem solid #e6e6e6;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
      }
    }

    a.new-tab {
      position: initial;
      height: 100%;
    }

    figcaption {
      margin-top: 0;
      max-width: none;
    }

    &.Vidyo {
      &:nth-child(1) figure,
      &:nth-child(2) figure {
        height: 100%;
      }
      &:nth-child(4) figure {
        height: auto;
        border: none;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    figure[role="group"] {
      margin: 6rem auto;

      section {
        padding: 2rem;

        &::after {
          flex-basis: 2rem;
        }
      }

      figure {
        flex-basis: 45rem;
        height: 28rem;
      }
    }
  }

  // Get rid of figure scroll at 840px and above (width of main with padding)
  @media only screen and (min-width: 840px) {
    figure[role="group"] {
      padding: 0 2rem;

      section {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        overflow: visible;

        &::after {
          display: none;
        }
      }

      figure {
        flex-basis: 23%;
        height: 14rem;
        margin: 0 2rem 2rem 0;

        &:first-child,
        &:nth-child(5) {
          margin-left: 0;
        }

        &:nth-child(4),
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    figure[role="group"] {
      padding: 0;
    }
  }
}

// Figures
figure.callout {
  margin: 4rem auto;

  img {
    width: 100%;
    border-radius: 0.4rem;
    border: 0.1rem solid #e6e6e6;
  }
}

figcaption {
  max-width: 60rem;
  margin: 1rem auto 0;
  font-style: italic;
  line-height: 1.4;
  text-align: center;
}

figure.device img {
  border: none;
}

@media only screen and (min-width: 768px) {
  figure.callout {
    img {
      width: auto;
      height: 32rem;
      margin: auto;
    }
  }
}

// Zoom nav
#screen-nav {
  position: absolute;
  top: 2rem;
  left: 2rem;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0 1rem;
  }

  a {
    display: block;
    width: 1.6rem;
    height: 2rem;
    padding-left: 1.6rem;
    overflow: hidden;
    border: 0.2rem solid #efefef;
    border-radius: 50%;

    &:hover {
      background: #de2121;
    }
  }

  li.selected a {
    background: #efefef;
  }

  @media only screen and (min-width: 768px) {
    // Center screen nav without positioning over close/new tab buttons
    right: 10rem;
    left: 10rem;
  }
}
