// Work history

@import '_mixins';

body[data-controller="work-history"] {
  main > h2 {
    margin-bottom: 0;
  }

  section.resume {
    ul {
      margin-top: 0;
    }
  }

  section.competencies {
    ul {
      margin-top: 0;
    }
  }

  section.employer {
    margin: 4rem 0 8rem;

    h3 {
      padding: 0;
    }

    h4 {
      padding: 0;
    }

    p.dates {
      font-size: 1.6rem;
      color: #808080;
      text-align: center;

      @media only screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }
}
