// Work Samples

body[data-controller="work-samples"] {
  figcaption {
    max-width: none;
  }

  // No borders around mobile screens
  section.screens figure[role="group"] {
    &:nth-child(6) {
      figure {
        border-radius: none;
        box-shadow: none;
      }
    }
  }
  
  @media only screen and (min-width: 1024px) {
    section.documents {
      ul {
        margin-top: 4rem;
        display: block;
        column-count: 2;
        column-gap: 2rem;
      }
    }
  }
}
