<footer>
  <nav>
    <a class="top" href="#top">Back to top</a>
    <ul>
      <li class="about">
        <a href="/">About Me</a>
      </li>
      <li class="case-studies">
        <a href="/case-studies">Case Studies</a>
      </li>
      <li class="work-samples">
        <a href="/work-samples">Work Samples</a>
      </li>
      <li class="resume">
        <a href="/resume">Résumé</a>
      </li>
      <li class="contact">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <p class="copyright">
    &copy; 2026 Jason Sylvester
  </p>
  <p>
    <a href="https://github.com/jaysylvester/jaysylvester.com" target="_blank" rel="noopener">Source available on GitHub</a>
  </p>
</footer>
