<header>
  <a href="/"><span class="j">J</span><span class="s">S</span></a>
  <nav>
    <ul>
      <li class="about">
        <a href="/">About</a>
      </li>
      <li class="resume">
        <a href="/resume">Résumé</a>
      </li>
      <li class="case-studies">
        <a href="/case-studies">Case Studies</a>
      </li>
      <li class="work-samples">
        <a href="/work-samples">Work Samples</a>
      </li>
      <li class="contact">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
