<h1>Artifacts</h1>
<section class="content documents">
  <h2>UX isn't just the end result, but the journey there.</h2>
  <p>For those of you who like design artifacts, feel free to browse a random sampling of my work, including UX audits &amp; recommendations, process diagrams, sitemaps, wireframes, usability tests, and more.</p>
  <p><a href="/contact">Please ask</a> if you have questions. I'm happy to go into detail on any project.</p>
  <ul>
    <li><a href="/documents/artifacts/Shop-LC-UX-Evaluation.pdf">Shop LC UX Evaluation</a></li>
    <li><a href="https://github.com/jaysylvester/jaysylvester.com/tree/main/web/shoplc" target="_blank" rel="nofollow">Shop LC Front End Code Demo</a></li>
    <li><a href="/documents/artifacts/Fitly-IA-UX-Specification-MVP.pdf">Fitly IA/UX Specification</a></li>
    <li><a href="/documents/artifacts/Libbey-L-Sitemap-v6.pdf">Libbey Glass Intranet Sitemap</a></li>
    <li><a href="/documents/artifacts/Libbey-L-Wireframes.pdf">Libbey Glass Intranet Wireframes</a></li>
    <li><a href="/documents/artifacts/Columbus-Dispatch-Responsive-Design-Strategy.pdf">Columbus Dispatch Redesign Strategy</a></li>
    <li><a href="/documents/artifacts/hibu-Marketplace-Whiteboard-Sketch.pdf">hibu Marketplace Whiteboard Sketch</a></li>
    <li><a href="/documents/artifacts/UX-Process-Definition-v1-5.pdf">Vidyo UX Process Flowchart</a></li>
    <li><a href="/documents/artifacts/Vidyo-Neo-Usability-Studies.mp4">Vidyo Neo Usability Study Recordings</a></li>
    <li><a href="/documents/artifacts/VidyoConnect-Affinity-Map.pdf">VidyoConnect Affinity Map Exercise</a></li>
    <li><a href="/documents/artifacts/Fiserv-Client-Config-Wireframes.pdf">Fiserv FirstPoynt Client Wireframes</a></li>
    <li><a href="/documents/artifacts/Senior-UX-Designer.pdf">Senior UX Designer Job Description</a></li>
  </ul>
</section>
<section class="content all-screens">
  <h3>High-fidelity mockups and prototypes</h3>
  <p>Some of these are entirely my work, some were a collaborative effort, and some were produced under my supervision and review. <a href="/case-studies">Read my case studies</a> for details on my contributions.</p>
</section>
{{{include.screens}}}
